#features {
  display: flex;
  justify-content: center;
}

ul {
  width: 24rem;
}

li {
  list-style: none;
  margin: 1em 0 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  display: inline;
  margin: 0 .5em;
}

@media only screen and (max-width: 600px) {
  ul {
    width: 100%;
  }
}